{% extends 'head.html' %}
{% block content %}

{% include 'partials/_menu.html' %}

<section class="section">
    <div class="container">

        <h1 class="title has-text-centered">Importações Realizadas</h1>
        <table class="table is-fullwidth">
            <thead>
            <tr>
                <th style="font-weight: bold">Data da Importação</th>
                <th style="font-weight: bold">Data das Transações</th>
                <th style="font-weight: bold">Enviada por</th>
                <th style="font-weight: bold">Opções</th>
            </tr>
            </thead>
            <tbody>

            {% for importacao in importacoes %}
                <tr>
                    <td>{{ importacao.criado_em }}</td>
                    <td>{{ importacao.data_transacoes }}</td>
                    <td>{{ importacao.usuario.first_name }}</td>
                    <td><a href="{% url 'detalha_transacoes' importacao.id %}" class="button is-info">Detalhar</a></td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
</section>

{% endblock %}